@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

html {
    font: 14px/1.5 'Orbitron', sans-serif;
}

body {
    background-image: url('images/guillermo-ferla-Oze6U2m1oYU-unsplash\ \(1\).jpg');
    color: white;
    background-size: cover;
    text-align: center; 
    font: inherit;
}

button {
    font: inherit;
}

.site-main {
    width: 66ch;
    margin:0 auto;
    display: flex;
}

.site-main > article {
    border: 2px solid #2d3ed6;
    
}

.apply-btn {
    color: white;
    background-color:rgb(146, 104, 192);
    border: 2px solid rgba(255, 255, 255, 1);
    padding: 0.4em 2em;
    border-radius: 2em;
    cursor: pointer;
}

.apply-btn:hover {
    background-color:rgb(54, 40, 70);
}

.site-footer {
    position: absolute;
    bottom: 0;
    left: 0;
}