html {
    font: 14px/1.5 "Poppins", sans-serif;
}

body, table, button, input {
    font: inherit;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    padding-block-end: 0.3em;
    margin-block-end: 0.5em;
    font-family: 'Times New Roman', Times, serif
}

h1 { font-size: 2.4em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }

p {
    padding-block-end: 1.3em;
}